\.vscode/

\.DS_Store

__pycache__

*/__pycache__/*

**/__pycache__/*

.notipy.json

.single_run

.coverage*

coverage.xml
fantom_data
roadmap_data
fantom_test
.ipynb*
fantom.rst
roadmap.rst
*.egg-info
.pytest_cache
fantom
roadmap